#name-container {
    width: 70%;
}
#item-container {
    display: flex;
    justify-content: space-between;
}
#cross {
    width: 0.4rem;
    left: -0.1rem;
    position: relative;
}
#checkbox-container {
    display: flex;
    justify-content: center;
}
#strike-through {
    position: absolute;
    left: 4.5rem;
    align-self: center;
    right: 1rem;
}
#scribble {
    width: 100%;
}
