.drawer-container {
  min-height: calc(100% - 56px);
  display: flex;
}
.sidenav-content {
  min-height: 100%;
}
.drawer-logo-container {
  display: flex;
  justify-content: center;
  .drawer-logo {
    height: 200px;
  }
}
.sidenav {
  background: #c7c7c7;
}
.blue {
  background-color: #00bacb;
}
.pink {
  background-color: #ff5c80;
}
.cyan {
  background-color: #00f8c9;
}
#create-new {
  background-color: #9c9a9a;
}
#categories {
  background-color: #9c9a9a;
}
.paper {
  background-image: url("../assets/paper.jpg");
  background-size: 200% 100%;
}

.floating-action-button {
  margin: 1rem;
}
.new-item-section {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.new-item-container {
  margin: 1rem;
  height: 56px;
  border-radius: 28px;
  width: calc(100% - 56px - 3rem);
  display: flex;
  justify-content: center;
}
.new-item-form-field {
  width: calc(100% - 56px);
}
.mat-drawer {
  min-width: 60%;
}
.mat-list-item {
  box-shadow: 0px 0px 10px black;
}
#selected {
  margin-right: 20px;
}
.black {
  color: black;
}
.categories-container {
  padding: 1rem;
}
#splash {
  display: flex;
  justify-content: center;
  height: 100%;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
