.pencil {
  font-family: pencil;
  font-weight: bold;
  font-size: 2rem;
}
.drawer-container {
  min-height: calc(100% - 56px);
  display: flex;
}
.sidenav-content {
  min-height: 100%;
}
.drawer-logo-container {
  display: flex;
  justify-content: center;
  .drawer-logo {
    height: 200px;
  }
}
.sidenav {
  background: #c7c7c7;
}
.blue {
  background-color: #00bacb;
}
.pink {
  background-color: #ff5c80;
}
.cyan {
  background-color: #00f8c9;
}
#create-new {
  background-color: #9c9a9a;
}
#categories {
  background-color: #9c9a9a;
}
.paper {
  background-image: url("../assets/paper.jpg");
  background-size: 200% 100%;
}

.floating-action-button {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: 1rem;
}
.mat-drawer {
  min-width: 60%;
}
.mat-list-item {
  box-shadow: 0px 0px 10px black;
}
#selected {
  margin-right: 20px;
}
.black {
  color: black;
}
