<ng-container *ngIf="llamas===undefined; else elseTemplate">
  <div id="splash"><img src="../assets/splash.jpg"></div>
</ng-container>
<ng-template #elseTemplate>
  <div class="app-container">
    <!-- Toolbar -->
    <mat-toolbar class="toolbar elevated"
      [ngClass]=" {'blue': activeLlamaId%3===0,'pink': activeLlamaId%3===1,'cyan': activeLlamaId%3===2}">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-container *ngIf="categoryMode; else llamaHeadingTemplate">
        <span class="heading">Categories</span>
      </ng-container>
      <ng-template #llamaHeadingTemplate>
        <span *ngIf="!editLlamaNameMode" class="heading" (click)="editName()">{{activeLlama.name}}</span>
        <mat-form-field *ngIf="editLlamaNameMode" (clickOutside)="stopEdit()">
          <input matInput [(ngModel)]=" activeLlama.name">
        </mat-form-field>
      </ng-template>
      <div class="delete-toggle-section">
        <mat-slide-toggle color="warn" [(ngModel)]="deletemode">
          <ng-container *ngIf="deletemode; else deleteMockTemplate">
            <mat-icon color="warn">delete_forever</mat-icon>
          </ng-container>
          <ng-template #deleteMockTemplate>
            <mat-icon>delete_outline</mat-icon>
          </ng-template>

        </mat-slide-toggle>
      </div>
    </mat-toolbar>
    <mat-drawer-container class="drawer-container">
      <!-- Drawer -->
      <mat-drawer #drawer class="sidenav" mode="over">
        <div class="drawer-logo-container">
          <img class="drawer-logo" src="../assets/logo.png">
        </div>
        <mat-nav-list class="llama-navigation-list">
          <mat-list-item class="sidebar-nav-item" *ngFor="let llama of llamas;let i = index" (click)="select(llama,i)"
            [ngClass]="{'blue': i%3===0,'pink': i%3===1,'cyan': i%3===2}">
            <button class="llama-deletion-container" *ngIf="deletemode" mat-icon-button (click)="deleteLlama(llama)">
              <mat-icon color="warn">delete_forever</mat-icon>
            </button>
            <span id="selected" *ngIf="activeLlamaId===i&&categoryMode===false">></span><span>{{llama.name}}</span>
            <div class="shadow"></div>
          </mat-list-item>
          <mat-list-item class="sidebar-nav-item" id="create-new" (click)="addNewLlama()">New
            Llama
          </mat-list-item>
        </mat-nav-list>
        <mat-nav-list class="settings-navigation-list">
          <mat-list-item class="sidebar-nav-item" id="categories" (click)="selectCategories()"><span id="selected"
              *ngIf="categoryMode">></span><span>Categories</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <!-- Content -->
      <div class="sidenav-content paper">
        <div class="categories-container">
          <ng-container *ngIf="categoryMode; else llamaTemplate">
            <llama-category-drag-drop *ngFor="let category of categories" [category]='category'
              [categories]='categories' [deletemode]='deletemode' [updateCallback]='updateCallback'>
            </llama-category-drag-drop>
          </ng-container>
          <ng-template #llamaTemplate>
            <llama-category-drop-down *ngFor="let category of activeCategories" [category]='category'
              [llama]='activeLlama' [deletemode]='deletemode' [updateCallback]='updateCallback'>
            </llama-category-drop-down>
          </ng-template>
        </div>
      </div>
    </mat-drawer-container>
    <!-- Bottom Section -->
    <div class="bottom-section" *ngIf="!drawer.opened">
      <ng-container *ngIf="deletemode&&!categoryMode; else addTemplate">
        <div class="cleanup-section">
          <button class="floating-action-button elevated" color="warn" (click)="cleanupItems()" mat-fab>
            <mat-icon class="black">archive</mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-template #addTemplate>
        <div class="add-section" (clickOutside)='add()'>
          <ng-container *ngIf="categoryMode; else newItemTemplate">
            <div class="add-container elevated"
              [ngClass]="{'blue': activeLlamaId%3===0,'pink': activeLlamaId%3===1,'cyan':  activeLlamaId%3===2}">
              <mat-form-field class="add-form-field">
                <input matInput [formControl]="addStringFormControl" placeholder="New Category">
              </mat-form-field>
            </div>
            <button class="floating-action-button elevated"
              [ngClass]="{'blue': activeLlamaId%3===0,'pink': activeLlamaId%3===1,'cyan':  activeLlamaId%3===2}"
              (click)="add()" mat-fab>
              <span class="black">+</span>
            </button>
          </ng-container>
          <ng-template #newItemTemplate>
            <div class="add-container elevated"
              [ngClass]="{'blue': activeLlamaId%3===0,'pink': activeLlamaId%3===1,'cyan':  activeLlamaId%3===2}">
              <mat-form-field class="add-form-field">
                <input matInput [formControl]="addStringFormControl" [matAutocomplete]="auto"
                  [placeholder]="getNewItemPlaceHolder()">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let itemName of filteredNewItemOptions | async" [value]="itemName">
                    {{itemName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <button class="floating-action-button elevated"
              [ngClass]="{'blue': activeLlamaId%3===0,'pink': activeLlamaId%3===1,'cyan':  activeLlamaId%3===2}"
              (click)="add()" mat-fab>
              <span class="black">{{emoji}}</span>
            </button>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>