<div id="category-container" cdkDropList cdkDropListSortingDisabled id="{{category.id}}"
    [cdkDropListConnectedTo]='otherCategories' (cdkDropListDropped)="dragEnd($event)">
    <div id="category-header">
        <div id="header-start">
            <div id="category-name">
                <span class="pencil">{{category.name}}</span>
            </div>
        </div>
        <div id="header-end">
            <ng-container *ngIf="deletemode&&category.id!='uncategorized'; else itemCounterTemplate">
                <div class="category-deletion-container">
                    <mat-icon color="warn" (click)="deleteCategory()">delete_forever</mat-icon>
                </div>
            </ng-container>
            <ng-template #itemCounterTemplate>
                <div id="item-counter">
                    <span class="pencil-small">{{getTotalItems()}}</span>
                </div>
            </ng-template>
        </div>
    </div>
    <div>
        <llama-item-name-drag-drop *ngFor="let itemName of category.itemNames" [itemName]="itemName"
            [category]="category" [deletemode]='deletemode' [updateCallback]='updateCallback'>
        </llama-item-name-drag-drop>
    </div>
</div>