#category-header {
    display: flex;
    justify-content: space-between;
}
#expanded-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}
.expansion-toggle {
    font-size: 2rem;
}
#header-start {
    display: flex;
}
#category-items-container {
    margin-left: 1rem;
    margin-right: 0.5rem;
}
